#about {
  min-height: 100vh;
  padding: 50px 100px;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.aboutPhoto {
  max-width: 50%;
  height: auto;
  border-radius: 30%;
}
