#home {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  background-size: cover;
}

#home .homeTittle {
  min-width: 80%;
}

#home .homeTittle p {
  font-size: 8rem;
  color: rgb(255, 255, 255);
  display: flex;
}

#home .homeTittle p p {
  color: rgba(255, 166, 0, 0.853);
  font-size: 8rem;
  display: flex;
}

#home .customContainer {
  align-items: normal;
}

.customContainer .homeInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.customContainer .homePhoto {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.rowMarginTop {
  margin-top: 1rem;
}

h1 {
  color: rgb(207, 207, 207);
  font-size: 20rem;
  text-transform: initial;
  padding-bottom: 10rem;
}

#home h2 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
}

.profilePhoto {
  border-radius: 10%;
}
