#projects {
  position: relative;
  min-height: 100vh;
  width: auto;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  background-color: #5f5f5f;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../public/images/projects.png);
}

.swiperContent {
  display: block;
  background-color: transparent;
}

.projectsContainer {
  display: grid;
  position: relative;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  grid-auto-rows: 300px;
  align-items: center;
  grid-gap: 10px;
  height: 750px;
  width: 60%;
  height: 80%;
}

.projectCard {
  background-color: transparent;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.72);
  background-color: rgb(178, 176, 174);
}

#projects h2 {
  margin-bottom: 20px;
  color: rgb(233, 133, 76);
}

#projects h3 {
  color: rgb(220, 220, 220);
  font-size: 1.4rem;
}

#projects .projectCard h3 {
  color: black;
  font-size: 1.3rem;
}

#projects h4 {
  font-size: 1.3rem;
  color: rgb(211, 211, 211);
}

.projectCard p {
  margin: 0;
  padding: 0;
}

.projectImg {
  flex-grow: 1; /* Hace que projectImg ocupe todo el espacio disponible verticalmente */
  overflow: hidden;
}
.projectImg img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Asegura que la imagen ocupe todo el alto del contenedor */
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor sin perder la relación de aspecto */
}
.projectTecnologies {
  display: flexbox;
  width: 100%;
  padding: 15px;
  text-align: end;

  align-items: center;
  font-size: 15px;
  box-shadow: -1px -3px 27px 6px rgba(0, 0, 0, 0.53) inset;
  -webkit-box-shadow: -1px -3px 27px 6px rgba(0, 0, 0, 0.53) inset;
  -moz-box-shadow: -1px -3px 27px 6px rgba(0, 0, 0, 0.53) inset;
}

.projectLenguajes,
.projectLink {
  align-items: center;
  gap: 10px;
  display: flex;
}

.projectLenguajes ul,
.projectLink ul {
  color: rgb(255, 255, 255);
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 10%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.projectCard:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  z-index: 30;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 80px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: orange;
  transform: scale(1.2);
}
:root {
  --swiper-theme-color: rgb(255, 255, 255) !important;
}

.swiper-scrollbar-drag {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 750px) {
  #projects {
    padding: 50px 10px;
  }

  #home .homeInfo p {
    font-size: 1rem;
  }

  .homeTittle {
    padding: 0px !important;
  }
  #home .homePhoto {
    width: 100%;
    display: flex;
  }
  #home .homeTittle {
    padding-top: 30px;
  }

  #home .homeStart p {
    font-size: 1rem;
  }

  .customContainer .homePhoto .socialBox .icon {
    min-width: 10px;
    height: 10px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 15px;
  }
}
