#projects {
  position: relative;
  min-height: 100vh;
  width: auto;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  background-color: #5f5f5f;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../public/images/projects.png);
}

.swiperContent {
  display: block;
  background-color: transparent;
}

.projectsContainer {
  display: grid;
  position: relative;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  grid-auto-rows: 300px;
  align-items: center;
  grid-gap: 10px;
  height: 750px;
  width: 60%;
  height: 80%;
}

.projectCard {
  background-color: transparent;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.72);
  background-color: rgb(178, 176, 174);
}

#projects h2 {
  margin-bottom: 20px;
  color: rgb(233, 133, 76);
}

#projects h3 {
  color: white;
}

.projectCard p {
  margin: 0;
  padding: 0;
}

.projectImg {
  flex-grow: 1; /* Hace que projectImg ocupe todo el espacio disponible verticalmente */
  overflow: hidden;
}
.projectImg img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Asegura que la imagen ocupe todo el alto del contenedor */
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor sin perder la relación de aspecto */
}
.projectTecnologies {
  display: flexbox;
  width: 100%;
  padding: 15px;
  text-align: end;

  align-items: center;
  font-size: 15px;
  background-color: #868686;
}

.projectLenguaje,
.projectLink {
  align-items: center;
  gap: 10px;
  display: flex;
}

.projectCard:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  z-index: 30;
}
