body.activeModal {
  overflow-y: hidden;
}

.customModal,
.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modalPosition {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.modalContent {
  overflow-y: scroll !important;
  display: grid;
  max-height: 60vh;
  grid-row: auto 1fr;
  row-gap: 10px;
  text-align: start;
  align-items: center;
  justify-content: center;
}

.modalContent ul {
  list-style: none;
  display: block !important;
  background-color: rgb(126, 114, 114, 0.2) !important;
}

.modalContent li {
  margin-bottom: 20px;
}

.modalContent h2 {
  color: black;
  background-color: rgb(229, 169, 2);
}
